# How to Read Data from various sources?

In [4]:
import pandas as pd

In [14]:
data = pd.read_table('https://bit.ly/mtech-worldbankcrisis')
#Normal TSV File
#dir(pd)
data.head(5)

,?no,agr_emp_t_3,agr_emp_t_2,agr_emp_t_1,agr_emp_max,agr_emp_index_max,agr_emp_min,agr_emp_index_min,agr_emp_average,agr_emp_slope,...,bnk_hlth_t_3,bnk_hlth_t_2,bnk_hlth_t_1,bnk_hlth_max,bnk_hlth_index_max,bnk_hlth_min,bnk_hlth_index_min,bnk_hlth_average,bnk_hlth_slope,class
0,1.0,?,?,?,?,?,?,?,?,?,...,?,?,?,?,?,?,?,?,?,crisis
1,2.0,?,?,?,?,?,?,?,?,?,...,?,?,?,?,?,?,?,?,?,crisis
2,3.0,?,?,?,?,?,?,?,?,?,...,?,?,?,?,?,?,?,?,?,crisis
3,4.0,0.50,0.50,0.50,0.50,0.00,0.50,0.00,0.50,0.00,...,?,?,?,?,?,?,?,?,?,crisis
4,5.0,0.80,0.70,0.70,0.80,0.00,0.70,1.00,0.73,-0.05,...,?,?,?,?,?,?,?,?,?,crisis

In [10]:
data.describe()
data.shape

(304, 947)

In [17]:
pd.read_table('https://bit.ly/movieusers',sep='|',header=None,names=['SNO','Age','Gender','Job','Zipcode'])
#TSV file with Separators

     SNO  Age Gender            Job Zipcode
0      1   24      M     technician   85711
1      2   53      F          other   94043
2      3   23      M         writer   32067
3      4   24      M     technician   43537
4      5   33      F          other   15213
5      6   42      M      executive   98101
6      7   57      M  administrator   91344
7      8   36      M  administrator   05201
8      9   29      M        student   01002
9     10   53      M         lawyer   90703
10    11   39      F          other   30329
11    12   28      F          other   06405
12    13   47      M       educator   29206
13    14   45      M      scientist   55106
14    15   49      F       educator   97301
15    16   21      M  entertainment   10309
16    17   30      M     programmer   06355
17    18   35      F          other   37212
18    19   40      M      librarian   02138
19    20   42      F      homemaker   95660
20    21   26      M         writer   30068
21    22   25      M         writer   40206
22    23   30      F         artist   48197
23    24   21      F         artist   94533
24    25   39      M       engineer   55107
25    26   49      M       engineer   21044
26    27   40      F      librarian   30030
27    28   32      M         writer   55369
28    29   41      M     programmer   94043
29    30    7      M        student   55436
..   ...  ...    ...            ...     ...
913  914   44      F          other   08105
914  915   50      M  entertainment   60614
915  916   27      M       engineer   N2L5N
916  917   22      F        student   20006
917  918   40      M      scientist   70116
918  919   25      M          other   14216
919  920   30      F         artist   90008
920  921   20      F        student   98801
921  922   29      F  administrator   21114
922  923   21      M        student   E2E3R
923  924   29      M          other   11753
924  925   18      F       salesman   49036
925  926   49      M  entertainment   01701
926  927   23      M     programmer   55428
927  928   21      M        student   55408
928  929   44      M      scientist   53711
929  930   28      F      scientist   07310
930  931   60      M       educator   33556
931  932   58      M       educator   06437
932  933   28      M        student   48105
933  934   61      M       engineer   22902
934  935   42      M         doctor   66221
935  936   24      M          other   32789
936  937   48      M       educator   98072
937  938   38      F     technician   55038
938  939   26      F        student   33319
939  940   32      M  administrator   02215
940  941   20      M        student   97229
941  942   48      F      librarian   78209
942  943   22      M        student   77841

[943 rows x 5 columns]

In [20]:
pd.read_csv('https://bit.ly/mtech-wildlifetrade')

,Year,App.,Taxon,Class,Order,Family,Genus,Importer,Exporter,Origin,Importer reported quantity,Exporter reported quantity,Term,Unit,Purpose,Source
0,2016,I,Aquila heliaca,Aves,Falconiformes,Accipitridae,Aquila,TR,NL,CZ,NaN,1.0,bodies,NaN,T,C
1,2016,I,Aquila heliaca,Aves,Falconiformes,Accipitridae,Aquila,XV,RS,RS,NaN,1.0,bodies,NaN,Q,O
2,2016,I,Haliaeetus albicilla,Aves,Falconiformes,Accipitridae,Haliaeetus,BE,NO,NaN,NaN,43.0,feathers,NaN,S,W
3,2016,I,Haliaeetus albicilla,Aves,Falconiformes,Accipitridae,Haliaeetus,BE,NO,NaN,NaN,43.0,specimens,NaN,S,W
4,2016,I,Haliaeetus albicilla,Aves,Falconiformes,Accipitridae,Haliaeetus,DK,IS,NaN,700.0,NaN,specimens,NaN,S,W
5,2016,I,Haliaeetus albicilla,Aves,Falconiformes,Accipitridae,Haliaeetus,XV,RS,RS,NaN,1.0,bodies,NaN,Q,O
6,2016,I,Harpia harpyja,Aves,Falconiformes,Accipitridae,Harpia,BR,FR,NaN,NaN,12.0,feathers,NaN,S,C
7,2016,I,Harpia harpyja,Aves,Falconiformes,Accipitridae,Harpia,BR,FR,NaN,NaN,4.0,feathers,NaN,S,U
8,2016,I,Harpia harpyja,Aves,Falconiformes,Accipitridae,Harpia,BR,FR,NaN,NaN,2.0,feathers,NaN,S,W
9,2016,I,Acipenser brevirostrum,Actinopteri,Acipenseriformes,Acipenseridae,Acipenser,CH,DE,NaN,NaN,4.0,live,NaN,T,C
10,2016,I,Acipenser sturio,Actinopteri,Acipenseriformes,Acipenseridae,Acipenser,US,IR,NaN,100.0,NaN,caviar,g,P,I
11,2016,I,Ailurus fulgens,Mammalia,Carnivora,Ailuridae,Ailurus,AU,NZ,NaN,NaN,2.0,live,NaN,Z,C
12,2016,I,Ailurus fulgens,Mammalia,Carnivora,Ailuridae,Ailurus,CA,US,NaN,NaN,1.0,live,NaN,Z,F
13,2016,I,Ailurus fulgens,Mammalia,Carnivora,Ailuridae,Ailurus,IL,DE,NaN,NaN,2.0,live,NaN,Z,C
14,2016,I,Ailurus fulgens,Mammalia,Carnivora,Ailuridae,Ailurus,JP,US,NaN,1.0,NaN,live,NaN,B,C
15,2016,I,Ailurus fulgens,Mammalia,Carnivora,Ailuridae,Ailurus,JP,US,NaN,NaN,1.0,live,NaN,Z,C
16,2016,I,Ailurus fulgens,Mammalia,Carnivora,Ailuridae,Ailurus,KP,CN,NaN,NaN,1.0,bodies,NaN,E,U
17,2016,I,Ailurus fulgens,Mammalia,Carnivora,Ailuridae,Ailurus,KR,CN,NaN,NaN,1.0,specimens,NaN,E,C
18,2016,I,Ailurus fulgens,Mammalia,Carnivora,Ailuridae,Ailurus,KR,JP,NaN,NaN,1.0,live,NaN,Z,C
19,2016,I,Ailurus fulgens,Mammalia,Carnivora,Ailuridae,Ailurus,US,CA,NaN,5.0,NaN,live,NaN,Z,C
20,2016,I,Alligator sinensis,Reptilia,Crocodylia,Alligatoridae,Alligator,KP,CN,NaN,NaN,1.0,bodies,NaN,E,U
21,2016,I,Melanosuchus niger,Reptilia,Crocodylia,Alligatoridae,Melanosuchus,US,DK,NaN,10.0,NaN,live,NaN,Z,F
22,2016,I,Anas laysanensis,Aves,Anseriformes,Anatidae,Anas,CA,US,XX,NaN,3.0,feathers,NaN,S,I
23,2016,I,Anas laysanensis,Aves,Anseriformes,Anatidae,Anas,MC,FR,XX,2.0,NaN,live,NaN,Z,I
24,2016,I,Asarcornis scutulata,Aves,Anseriformes,Anatidae,Asarcornis,GB,JE,GB,1.0,1.0,bodies,NaN,S,C
25,2016,I,Asarcornis scutulata,Aves,Anseriformes,Anatidae,Asarcornis,GB,JE,NaN,1.0,2.0,bodies,NaN,S,C
26,2016,I,Branta sandvicensis,Aves,Anseriformes,Anatidae,Branta,CN,GB,NaN,1.0,NaN,bodies,NaN,Q,C
27,2016,I,Branta sandvicensis,Aves,Anseriformes,Anatidae,Branta,MC,FR,XX,2.0,NaN,live,NaN,Z,I
28,2016,I,Branta sandvicensis,Aves,Anseriformes,Anatidae,Branta,SG,NL,NaN,NaN,4.0,live,NaN,T,C
29,2016,I,Branta sandvicensis,Aves,Anseriformes,Anatidae,Branta,SG,NL,NaN,4.0,NaN,live,NaN,Z,C
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67131,2017,II,Stigmochelys pardalis,Reptilia,Testudines,Testudinidae,Stigmochelys,TW,ET,NaN,NaN,100.0,live,NaN,T,C
67132,2017,II,Aquilaria filaria,NaN,Myrtales,Thymelaeaceae,Aquilaria,MO,SG,ID,35.2,NaN,chips,kg,T,W
67133,2017,II,Amazilia fimbriata,Aves,Apodiformes,Trochilidae,Amazilia,US,PE,NaN,NaN,4.0,specimens,NaN,S,W
67134,2017,II,Chlorostilbon notatus,Aves,Apodiformes,Trochilidae,Chlorostilbon,US,PE,NaN,NaN,3.0,specimens,NaN,S,W
67135,2017,II,Florisuga mellivora,Aves,Apodiformes,Trochilidae,Florisuga,US,PE,NaN,NaN,6.0,specimens,NaN,S,W
67136,2017,II,Glaucis hirsutus,Aves,Apodiformes,Trochilidae,Glaucis,US,PE,NaN,NaN,10.0,specimens,NaN,S,W
67137,2017,II,Heliodoxa aurescens,Aves,Apodiformes,Trochilidae,Heliodoxa,US,PE,NaN,NaN,8.0,specimens,NaN,S,W
67138,2017,II,Hylocharis cyanus,Aves,Apodiformes,Trochilidae,Hylocharis,US,PE,NaN,NaN,3.0,specimens,NaN,S,W
67139,2017,II,Leucippus chlorocercus,Aves,Apodiformes,Trochilidae,Leucippus,US,PE,NaN,NaN,4.0,specimens,NaN,S,W
67140,2017,II,Phaethornis atrimentalis,Aves,Apodiformes,Trochilidae,Phaethornis,US,PE,NaN,NaN,3.0,specimens,NaN,S,W
67141,2017,II,Phaethornis bourcieri,Aves,Apodiformes,Trochilidae,Phaethornis,US,PE,NaN,NaN,30.0,specimens,NaN,S,W
67142,2017,II,Phaethornis hispidus,Aves,Apodiformes,Trochilidae,Phaethornis,US,PE,NaN,NaN,13.0,specimens,NaN,S,W
67143,2017,II,Phaethornis malaris,Aves,Apodiformes,Trochilidae,Phaethornis,US,PE,NaN,NaN,43.0,specimens,NaN,S,W
67144,2017,II,Phaethornis ruber,Aves,Apodiformes,Trochilidae,Phaethornis,US,PE,NaN,NaN,3.0,specimens,NaN,S,W
67145,2017,II,Thalurania furcata,Aves,Apodiformes,Trochilidae,Thalurania,US,PE,NaN,NaN,22.0,specimens,NaN,S,W
67146,2017,II,Threnetes niger,Aves,Apodiformes,Trochilidae,Threnetes,US,PE,NaN,NaN,16.0,specimens,NaN,S,W
67147,2017,II,Ursus arctos,Mammalia,Carnivora,Ursidae,Ursus,BG,RU,NaN,1.0,NaN,trophies,NaN,H,W
67148,2017,II,Varanus niloticus,Reptilia,Sauria,Varanidae,Varanus,MG,FR,TD,459.0,NaN,skin pieces,NaN,T,W
67149,2017,II,Varanus salvator,Reptilia,Sauria,Varanidae,Varanus,MO,FR,ID,1.0,NaN,leather products (small),NaN,T,W
67150,2017,II,Varanus salvator,Reptilia,Sauria,Varanidae,Varanus,MO,FR,MY,2.0,NaN,leather products (small),NaN,T,W
67151,2017,II,Varanus salvator,Reptilia,Sauria,Varanidae,Varanus,MO,GB,ID,2.0,NaN,leather products (small),NaN,T,W
67152,2017,II,Varanus salvator,Reptilia,Sauria,Varanidae,Varanus,MO,IT,ID,8.0,NaN,leather products (small),NaN,T,W
67153,2017,II,Zamiaceae spp.,NaN,Cycadales,Zamiaceae,NaN,DE,AO,NaN,NaN,2.0,specimens,NaN,S,W
67154,2017,II,Scleractinia spp.,Anthozoa,Scleractinia,NaN,NaN,DE,AO,NaN,NaN,50.0,raw corals,kg,S,W
67155,2017,III,Canis aureus,Mammalia,Carnivora,Canidae,Canis,DE,ET,NaN,NaN,1.0,skins,NaN,H,W
67156,2017,III,Canis aureus,Mammalia,Carnivora,Canidae,Canis,US,ET,NaN,NaN,7.0,trophies,NaN,H,W
67157,2017,III,Sarcoramphus papa,Aves,Falconiformes,Cathartidae,Sarcoramphus,JP,PE,NaN,NaN,2.0,live,NaN,T,F
67158,2017,III,Daboia russelii,Reptilia,Serpentes,Viperidae,Daboia,RS,IT,US,200.0,NaN,specimens,NaN,T,F
67159,2017,III,Civettictis civetta,Mammalia,Carnivora,Viverridae,Civettictis,FR,ET,NaN,NaN,635.1,musk,kg,T,R
67160,2017,III,Civettictis civetta,Mammalia,Carnivora,Viverridae,Civettictis,KR,ET,NaN,NaN,480.0,musk,kg,T,R